{% extends "base.html" %}
{% block title %}<title>Account Settings | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Account Settings" %}

<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile_edit' %}">Editer profil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'picture_change' %}">Ajouter une image</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'password_change' %}">Changer mot de passe</a>
  </li>
</ul>

<div class="alert alert-success">
  <h4 class="alert-heading">Mot de passe changé!</h4>
</div>
{% endblock %}
