{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Réinitialisation de mot de passe | SNIS</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

<form method="post" id="pass_reset_form">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
</form>

<div class="card text-center mt-4">
  <div class="card-body">
    Pas encore membre ? <a href="{% url 'signup' %}" class="card-link">S'inscrire</a>
  </div>
</div>

{% endblock %}
