{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}<title>Réinitialisation de mot de passe | SNIS</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

{% if validlink %}
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-block">Réinitialiser mot de passe</button>
</form>
{% else %}
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Lien invalide</h4>
    <h6>Ce lien de réinitialisation de mot de passe à probablement déjà été utilisé. S'il vous plaît, faites à nouveau une demande.</h6>
  </div>
</div>
{% endif %}

<div class="card text-center mt-4">
  <div class="card-body">
    Pas encore de compte ? <a href="{% url 'signup' %}" class="card-link">S'inscrire</a>
  </div>
</div>
{% endblock %}
