{% extends 'base.html' %}
{% block title %}<title>Réinitialisation de mot de passe | SNIS</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Un lien de réinitialisation de mot de passe vous à été envoyé.</h4>
    <h6>Si vous ne recevez rien prochaînement, soyez sûr d'avoir entré la bonne adresse mail et vérifiez vos spams.</h6>
  </div>
</div>

<div class="card text-center mt-4">
  <div class="card-body">
    Pas encore de compte ? <a href="{% url 'signup' %}" class="card-link">S'insrire</a>
  </div>
</div>
{% endblock %}
