{% extends 'base.html' %}
{% block title %}<title>Password Reset | Elmer</title>{% endblock %}

{% block content %}
{% include "includes/page_heading.html" with text="Password Reset" %}

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Votre mot de passe à été changé avec succés.</h4>
    <h6>. VOus devriez maintenant vous <a href="{% url 'login' %}">connecter</a>.</h6>
  </div>
</div>

<div class="card text-center mt-4">
  <div class="card-body">
    Pas encore de compte ? <a href="{% url 'signup' %}" class="card-link">S'inscrire</a>
  </div>
</div>
{% endblock %}
